@use "../../assets/variables.scss"as *;
@use "../../assets/mixins.scss"as *;

.mobile-nav {
  display: none;

  @include mobile {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    background-image: linear-gradient(to right top, #c4fcef, #a0e5e7, #82cddf, #6fb4d6, #699ac9);
    border-radius: 0px 0px 12px 12px;
    z-index: 1;
  }

  &__cross {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      height: 4vh;
      width: auto;
    }
  }

  &__item {
    display: none;

    @include mobile {
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      flex-direction: row;
      width: 100vw;
      font-size: 8vw;
    }
  }

  &__item--text {
    display: none;

    @include mobile {
      font-family: $subHeader;

      display: block;
      text-decoration: none;
      justify-self: center;
      color: black;
      font-size: 16px;
      font-weight: 500;
      left: 90px;
    }
  }


}

.mobile-nav__item--header {
  display: none;

  @include mobile {
    display: block;
    font-size: 35px;
    color: white;
    font-weight: 900;
  }
}