@use "../../assets/variables.scss"as *;
@use "../../assets/mixins.scss"as *;

.contact {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include mobile {
    height: 100vh;
  }


  &__body {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;

    @include mobile {
      width: 80vw;
    }

    @include tablet {
      width: 60vw;
    }

  }

  &__header {
    font-family: $header;
    font-size: 5vw;
    text-align: center;
    color: white;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 25px;

    @include tablet {
      font-size: 8vw;
    }

    @include mobile {
      font-size: 10vw;
      margin-top: 3vh;
    }
  }

  &__text {

    font-family: $subHeader;
    font-size: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    color: white;

    @include mobile {
      font-size: 5vw;
    }

    @include tablet {
      font-size: 4vw;
    }
  }

  &__profileimage {
    border-radius: 20px;
    height: 30vh;
    width: auto;
    margin-bottom: 5vh;
  }


  &__images {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: auto;
    justify-content: space-around;
    align-items: center;

    @include mobile {
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: space-around;
      align-items: center;
      width: 80vw;
    }

    @include tablet {
      width: 70vw;
    }
  }

  &__image {
    margin-top: 2vh;
    height: 7vh;
    width: auto;
  }
}