@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cabin+Sketch&family=Lato:wght@300&display=swap');

$header:'Cabin Sketch', cursive;
$subHeaderAlt: 'Amatic SC', cursive;
$subHeader: 'Lato', sans-serif;