
.App {
background-image: linear-gradient(to right top, #c4fcef, #a0e5e7, #82cddf, #6fb4d6, #699ac9);
}
.body{
height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
