@use "../../assets/variables.scss"as *;
@use "../../assets/mixins.scss"as *;

.morse {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  &__body {
    width: 60%;
    max-height: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 20px;
    text-align: center;

    @include mobile {
      width: 70vw;
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__blurb {
    font-family: $subHeader;
    font-size: 1.5vw;
    width: 50vw;
    color: black;


    @include mobile {
      font-size: 3vw;
      
    }

  }

  &__text {
    font-family: $subHeader;
    margin-right: 1vw;

    @include mobile {
      margin-bottom: 3vh;
      
    }

  }

  &__text--header {
    font-weight: 800;
  }

  &__text--link:visited {
    text-decoration: none;
    color: inherit;
  }

  &__skill-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__skill-image {
    display:none;

    @include mobile {
      display: block;
      height: 3vh;
    }
  }


  &__header {
    font-family: $header;
    font-size: 5vw;
    text-align: center;
    color: white;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 25px;

    @include mobile {
      text-align: center;
      font-size: 10vw;
      margin-top: 3vh;
      width: 60vw;
    }
  }

  &__image {
    margin: 2vh;
    height: 70%;
    border-radius: 10px;

    @include mobile {
      height: 20vh;

  }
}

  &__button {
    margin-top: 4vh;
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  &__button:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
  }

  &__button:active {
    position: relative;
    top: 1px;
  }
}